@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+NP+Hmong:wght@400;500;600;700&display=swap');

* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    font-family: 'Noto Serif NP Hmong', serif;

}

body {
    background-image: url("../img/background.svg");
    background-position: 0px -280px;
    background-repeat: no-repeat;
    background-size: cover;

}

.conteudo {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 10%;
    left: 16%;
}

.box-blue {
    width: 50rem;
    height: 28rem;
    border: solid 0.7rem #fff;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(123, 217, 254, 0.68);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-blue h2 {
    font-size: 50px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    padding: 5rem;
}

.box-white {
    width: 30rem;
    height: 9rem;
    border: solid 0.7rem #fff;
    border-radius: 10px;
    text-align: center;
    background-color: #7bd9fead;
}

.btn-back {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

#frase_gerada {
    width: 26rem;
    height: 7rem;
    align-items: center;
    padding: 1rem 2rem;
    color: #fff;
}
