body {
    background-image: url("../img/background.svg");
    background-position: 0px -280px;
    background-repeat: no-repeat;
    background-size: cover;
}

.conteudo {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 13%;
}

@media (max-width:1080px) {
    .box-blue {
        width: 1200px;
    }
}

.box-blue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 30rem;
    border: solid 0.7rem #fff;
    border-radius: 10px;
    text-align: center;
    background-color: #7bd9fead;
}

.box-blue h2 {
    font-size: 50px;
    color: #fff;
    padding: 5rem;
}

.btn-happy-bad {
    display: flex;
    justify-content: space-around;
    padding: 5rem;
}

.btn-happy-bad .btn-happy {
    width: 8rem;
    height: 8rem;
    border-radius: 100px;
    border: solid 5px #fff;
    background: rgba(5, 126, 241, 0.6);

}

.img-happy {
    width: 65px;
    margin-top: 30%;
}

.btn-happy-bad .btn-bad {
    width: 8rem;
    height: 8rem;
    border-radius: 100px;
    border: solid 5px #fff;
    background: rgba(5, 126, 241, 0.6);
}

.img-bad {
    width: 70px;
    margin-top: 28%;
}

.btn-back {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}